*, body{
    background-color: rgb(248, 215, 221);
    font-family: cursive;
    color: rgb(202, 72, 72);
}
.heads{
   padding: 0 3px;
   margin: 1pc 4pc;
    align-items: center;
}

#taskadd{
    margin: 2pc;
    float: right;
    padding: 1.2px ;
    height: 40px;
    width: 500px;
    border-color: rgb(202, 72, 72);
    box-sizing: border-box;
}
#taskadd::selection{
    border-color: pink;
}
#text1{
   margin: 3px ;
    text-decoration: double;
    color: rgb(202, 72, 72);
   
}

.check{
    border: pink;
    
}
#ics{
    float: right; 
    margin:2px 2px; 
    padding: 2px 3px;
    
}

#tasktext{
    background-color: pink;
}
#content{

    margin: 1pc 5pc;
    /* background-color: rgb(253, 205, 213); */
}

#text{
    text-decoration: double;
    color: rgb(202, 72, 72);
    margin: 2px 2pc;
}
.tasks{
    cursor: pointer;
    /* display: flex; */
    margin: .1pc 0;
    border-radius: 20px;
    height: 90px;
    background-color: pink;
    padding: .1pc .5pc;
}

.icons{
    /* padding: 2px; */
    display: flex;
    flex-direction: row-reverse;
    background-color: pink;
}

#btns{
    margin: 3px 1px;
    padding: 4px;
    background-color: pink;
}
#add{
    margin: 11px 4px;
    height: 50px;
}

#btn, #btnw, #btne, #btnd{
    border-radius: 1px;
    border: rgb(146, 112, 112);
    background-color: pink;
    border-radius: 44%;
}

#btn:hover{
    border: white;
    color: rgb(241, 134, 152);
}

